<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../statics/css/home.css">
    <link rel="stylesheet" href="../statics/css/scrol-bar-nofig.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="nav_container">
                <div class="left">
                    <img src="../statics/img/5404363422096809574.jpg" alt="">
                    <p class="name">natigshukurov</p>
                </div>
                <div class="right">
                    <button><a href="home.html"> Home</a ></button>
                    <button id="login"><a href="index.html">Login/Sign up</a></button>
                </div>
            </div>
        </div>
        <div class="body"> 
            <div class="body_container">
                <div class="head">
                    <p>
                        Sayt haqqında...
                    </p>
                </div>
                <div class="about">
                    <p>
                        Sayt kiçik bir tanıtım üçün hazırlanıb. Hazlrlanmada html,css,js,python-flask - dan istifadə olunub. Sayt iki şəxs tərəfindən yazılıb. Front-u Natiq Şükürov tərəfinfən, backend-i isə Mahammadali Amanzada tərəfindən hazırlanıb. 
                    </p>
                    <br><br>
                    <p>
                        Natiq Şükürov:
                        &nbsp; Mən Natiq Şükürov. Mən Azərbaycan Texniki Universitetini komputer elimlərinin birinci kursuyam. 2023-cü ildən bu sahəylə məşgul oluram. Fikrim bu sahədə hazırlaşıb özümü dahada inkişaf etdirməkdir.
                        <br>
                        <p> Biliklərim :
                        </p>          
                        <ul>
                            <li>Html</li>
                            <li>Css</li>
                            <li>Python(basic)</li>
                        </ul>    
                        <p>Təcrübələrim :</p>   
                        <ul>
                            <li>Javascript</li>
                            <li>Django</li>
                            <li>Bootstarp</li>
                        </ul>           
                        
                     </p>

                    <p> 
                        Mənimlə əlaqə :
                    </p>
                    <ul>
                        <li>
                            <img src="" alt="">
                            <span>Gmail: thntg0906@gmail.com</span>
                        </li>
                        <li>
                            <img src="" alt="">
                            <span>Telefon: 077-310-94-45</span>
                        </li>
                    </ul>
                    <br><br>
                    <p>
                        Mahammadali Amanzada:
                        &nbsp; Mən Məhəmmədəli Əmənzadə. Mən hal-hazırda 11-ci sinif şagirdiyəm. 2019-cu ildən bu sahəylə məşğulam. Fikrim özümü bu sahədə daha da tanıtmağdır. 
                    </p>
                        <p>Biliklərim :</p>
                        <ul>
                            <li>Html</li>
                            <li>Css3</li>
                            <li>Python</li>
                        </ul>
                        <p>Təcrübəm:</p>
                        <ul>
                            <li>C++</li>
                            <li>C</li>
                            <li>C#</li>
                            <li>Javascript</li>
                        </ul>
                        <p>Dil biliklərim :</p>
                        <ul>
                            <li>
                                Azərbaycan
                            </li>

                            <li>
                                İngilis
                            </li>
                            <li>
                                Türk
                            </li>
                        </ul>
                        <br>
                        <p> Biliklərim :
                        </p>          
                        <ul>
                            <li>Html</li>
                            <li>Css</li>
                            <li>Python(basic)</li>
                            <li>Javascript</li>
                        </ul>                  
                        
                     </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>