<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login
    </title>
    <link rel="stylesheet" href="../statics/css/style.css">
</head>
<body>
    <div class="arrow">
        <a href="home.html">
            <img src="../statics/img/arrows.gif" alt="">
        </a>
    </div>
    <div class="container">
        <div class="logo">
            Login!
        </div>
        <div class="inputs">
            <form action="">
                <label for="name">
                    <span></span>
                    <input type="text" id="name" name="name" placeholder="Enter your name :">
                </label>
                
                <label for="name">
                    <span></span>
                    <input type="text" id="soyad" name="soyad" placeholder="Enter your first name :">
                </label>
                <label for="password">
                    <span></span>
                    <input type="password" id="password" name="password" placeholder="Enter your password :">
                </label>
                <a href="#">
                    Parolu unutmusuz?
                </a>
                <button> Davam et!</button>
            </form>
        </div>
        <div class="copyright"></div>
    </div>
</body>
</html>